.box {
  width: 300px;
  margin: 20px;
  border: blue 5px solid;
  padding: 30px;
}

.box > p{
  margin-bottom: 30px;
}

.wrap {
  margin: 0px auto;
  width: 400px;
  background-color: black;
}

.header {
  height: 50px;
  background-color: red;
}

.content {
  background-color: blue;
  padding: 20px;
}

.content > p {
  margin-bottom: 30px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: orange;
}

.borderbox {
  background-color: red;
  height: 100px;
  width: 100px;
  padding: 20px;
  border:10px solid blue;
}